<div class="dev-modal hidden"
     data-developer-target="modal"
     data-action="click->developer#closeOnOverlay">

  <div class="dev-modal-content"
       data-action="click->developer#stopPropagation">

    <button type="button"
            class="dev-close"
            data-action="click->developer#closeModal">
      ✕
    </button>

    <div class="dev-body">
      <h2>Add Oxidant</h2>

      <div class="dev-preparations">
        <label>Select oxidant</label>

        <select data-developer-target="serviceSelect"
                data-action="change->developer#selectService"
                class="input-line">
          <option value="">Choose...</option>

          <% current_user.formula_products.where(category: "oxidant").each do |oxid| %>
            <option value="<%= oxid.id %>" data-price="<%= oxid.price_per_unit %>">
              <%= oxid.name %> (<%= oxid.price_per_unit %> ₴ / <%= oxid.unit %>)
            </option>
          <% end %>
        </select>

        <div class="dev-add-preparation">
          <input type="text"
                 placeholder="New preparation name"
                 data-developer-target="newName">

          <input type="number"
                 placeholder="Price"
                 data-developer-target="newPrice">

          <button type="button"
                  data-action="click->developer#createPreparation">
            + Create
          </button>
        </div>
      </div>

      <div class="dev-ratio">
        <% ["1:1", "1:1.5", "1:2", "1:3"].each do |r| %>
          <button type="button"
                  data-action="click->developer#setRatio"
                  data-ratio="<%= r %>">
            <%= r %>
          </button>
        <% end %>

        <div class="dev-ratio-custom"
            data-developer-target="customRatio">

          <input type="text"
                 inputmode="decimal"
                 placeholder="1:"
                 value="1:"
                 data-developer-target="customInput"
                 data-action="
                  focus->developer#highlightCustomRatio
                  input->developer#normalizeCustomRatio
                 " />

          <button type="button"
                  data-action="click->developer#addCustom">
            + ADD
          </button>

        </div>
      </div>

      <div class="dev-hint">
        <%= t("formula.ratio_hint_html").html_safe %>
      </div>

      <div class="dev-amount">
        <label>Oxidant amount:</label>
        <div class="dev-amount-row">
          <input type="text"
                 value="0"
                 class="dev-amount-input"
                 data-developer-target="amountInput"
                 data-action="input->developer#manualAmountChanged">
            <span>g</span>
        </div>
      </div>
    </div>

    <button type="button"
            class="dev-save"
            data-action="click->developer#save"
            data-developer-target="saveBtn"
            disabled>
      SAVE
    </button>
  </div>
</div>
