<% step_id = step_form.index || step_form.object.id %>

<div id="formula_step_<%= step_form.object.id %>"
    class="formula-step-wrapper"
    data-controller="collapse"
    data-step-id="<%= step_id %>">

        <!-- HEADER -->
  <div class="formula-step-header"
      data-action="click->collapse#toggle">

    <span>
      <%= t("haircut.step") %>
      <span class="step-number"></span>
    </span>

    <svg class="chevron"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2">
      <path d="m6 9 6 6 6-6"/>
    </svg>
  </div>

  <!-- CONTENT -->
  <div class="formula-step-content"
      data-collapse-target="content">

    <!-- CARD -->
    <div class="formula-card"
        data-controller="developer"
        data-step-id="<%= step_id %>">

      <!-- IMPORTANT: SECTION -->
      <%= step_form.hidden_field :section %>

      <!-- HEADER -->
      <div class="formula-header">
        <span><%= step_form.object.section || "Step" %></span>

        <div class="step-remove">
          <%= step_form.hidden_field :_destroy, value: 0, class: "destroy-field" %>

          <button type="button"
                  data-action="click->formula#removeStep">
            <%= image_tag "close.png",
                class: "clear-icon" %>
          </button>
        </div>
      </div>

      <!-- COLORS -->
      <div class="formula-block">
        <div class="block-title">
          <span><%= image_tag "paint.png",
                          class: "wiz-icon",
                          width: 24,
                          height: 24 %>COLORS</span>
          <button type="button"
                  class="add-btn-small add-color-btn"
                  data-action="click->formula#openColorModal"
                  data-step-index="<%= step_id %>">
            <%= image_tag "plus.png", class: "add-icon" %>
          </button>
        </div>

        <div class="colors-list" data-color-target="list">
          <div data-formula-target="colorsList">

            <%= step_form.fields_for :formula_ingredients do |ingredient_form| %>

              <% uid = ingredient_form.object.id || SecureRandom.hex(6) %>

              <%= render "service_notes/formula_ingredient_fields",
                    f: ingredient_form,
                    uid: uid %>
              <div class="color-row-display"
                  data-id="<%= uid %>">

                <div class="color-left">
                  <span class="brand"><%= ingredient_form.object.brand %></span>
                  <span class="shade"><%= ingredient_form.object.shade %></span>
                </div>

                <div class="color-right">
                  <span class="amount"><%= ingredient_form.object.amount %>g</span>

                  <button type="button"
                          class="remove"
                          data-action="click->formula#removeColor">
                    <%= image_tag "close.png",
                          class: "clear-icon" %>
                  </button>
                </div>

              </div>

            <% end %>

          </div>

        </div>
        <template data-formula-target="ingredientTemplate">
          <div class="ingredient-fields" data-id="NEW_ID">

            <input type="hidden"
              name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][shade]"
              data-field="shade">

            <input type="hidden"
              name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][brand]"
              data-field="brand">

            <input type="hidden"
              name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][amount]"
              data-field="amount">

            <input type="hidden"
              name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][formula_product_id]"
              data-field="formula_product_id">

            <input type="hidden"
              name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][price]"
              data-field="price">

            <input type="hidden"
              name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][_destroy]"
              value="0"
              data-field="destroy">
          </div>
        </template>
      </div>

      <!-- DEVELOPER -->
      <div class="formula-block">
        <div class="block-title">
          <span><%= image_tag "percent.png",
                          class: "wiz-icon",
                          width: 24,
                          height: 24 %>DEVELOPER</span>

          <button type="button"
                  class="add-btn-small add-dev-btn"
                  data-action="click->developer#openModal">
              <%= image_tag "plus.png", class: "add-icon" %>
          </button>
        </div>

        <%= step_form.hidden_field :oxidant,
              value: step_form.object.oxidant_data.to_json,
              data: { developer_target: "input" } %>

        <div class="dev-list"
            data-developer-target="list">
        </div>

        <template data-developer-target="itemTemplate">
          <div class="dev-row-display">

            <div class="dev-left">

              <span class="dev-name"></span>

              <span class="dev-separator">|</span>

              <span class="dev-ratio"></span>

            </div>

            <div class="dev-right">

              <span class="dev-amount"></span>

              <div class="dev-actions"
                  data-controller="popover">

                <button
                  type="button"
                  class="edit-btn"
                  data-action="click->popover#toggle">

                  <%= image_tag "pencil.png",
                        width: 18,
                        height: 18 %>

                </button>

                <div class="popover-menu hidden"
                    data-popover-target="menu">

                  <button
                    type="button"
                    class="edit-item">

                    Edit

                  </button>

                  <button
                    type="button"
                    class="delete-item">

                    Delete

                  </button>

                </div>

              </div>

            </div>

          </div>
        </template>
      </div>

      <!-- TIME -->
      <div class="formula-block">
        <div class="block-title">
          <span><%= image_tag "time.png",
                          class: "wiz-icon",
                          width: 24,
                          height: 24 %> TIME</span>
          <div class="time-input">
            <%= step_form.text_field :time,
                inputmode: "numeric",
                pattern: "[0-9]*",
                class: "input-line",
                placeholder: "" %>
            <span class="time-unit">min</span>
          </div>
        </div>


      </div>

      <%= render "service_notes/developer_modal" %>

    </div>
  </div>
</div>
