<div class="wizard-screen" data-controller="wizard">
  <%= form_with(model: [@client, @service_note], html: { multipart: true }) do |f| %>
    <!-- TOP BAR -->
    <div class="wizard-top">
      <button type="button" data-action="click->wizard#close">✕</button>
      <span data-wizard-target="title">Services</span>
      <button type="submit">SAVE</button>
      <div id="save_status"></div>
    </div>

    <!-- NAV -->
    <div class="wizard-nav">
      <div class="wizard-progress">
        <div class="wizard-progress-bar" data-wizard-target="progress"></div>
      </div>

      <!-- SERVICES -->
      <div data-action="click->wizard#go" data-step="0" class="wiz-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="wiz-icon"><circle cx="6" cy="6" r="3"/><path d="M8.12 8.12 12 12"/><path d="M20 4 8.12 15.88"/><circle cx="6" cy="18" r="3"/><path d="M14.8 14.8 20 20"/></svg>
      </div>

      <!-- FORMULA -->
      <div data-action="click->wizard#go" data-step="1" class="wiz-item active">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="wiz-icon"><path d="M14 2v6a2 2 0 0 0 .245.96l5.51 10.08A2 2 0 0 1 18 22H6a2 2 0 0 1-1.755-2.96l5.51-10.08A2 2 0 0 0 10 8V2"/><path d="M6.453 15h11.094"/><path d="M8.5 2h7"/></svg>
      </div>

      <!-- PHOTOS -->
      <div data-action="click->wizard#go" data-step="2" class="wiz-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="wiz-icon"><path d="M13.997 4a2 2 0 0 1 1.76 1.05l.486.9A2 2 0 0 0 18.003 7H20a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h1.997a2 2 0 0 0 1.759-1.048l.489-.904A2 2 0 0 1 10.004 4z"/><circle cx="12" cy="13" r="3"/></svg>
      </div>

      <!-- NOTES -->
      <div data-action="click->wizard#go" data-step="3" class="wiz-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="wiz-icon"><path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"/><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><path d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/></svg>
      </div>

    </div>

    <!-- CONTENT -->
    <div class="wizard-content" data-wizard-target="container">

      <div class="wizard-step" data-wizard-target="step">
        <%= render "service_notes/steps/services", f: f %>
      </div>

      <div class="wizard-step active" data-wizard-target="step">
        <%= render "service_notes/steps/formula", f: f %>
      </div>

      <div class="wizard-step" data-wizard-target="step">
        <%= render "service_notes/steps/photos", f: f %>
      </div>

      <div class="wizard-step" data-wizard-target="step">
        <%= render "service_notes/steps/notes", f: f %>
      </div>

    </div>

    <!-- BOTTOM -->
    <div class="wizard-bottom">
      <button type="button"
        data-action="click->wizard#prev"
        data-wizard-target="prevButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left">
          <path d="m15 18-6-6 6-6"/></svg>BACK</button>
      <button type="button" data-action="click->wizard#next" data-wizard-target="nextButton">
        <span data-wizard-target="nextLabel">NEXT</span>
        <svg data-wizard-target="nextIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right">
          <path d="m9 18 6-6-6-6"/></svg>
      </button>
    </div>

  <% end %>
</div>
