<div class="formula-container" data-controller="formula" data-service-note-id="<%= @service_note.id %>" data-client-id="<%= @client.id %>">

  <!-- STEP 1 -->
  <div class="formula-steps"
     data-formula-target="container">

    <%= f.fields_for :formula_steps do |step_form| %>
      <% step_id = step_form.index || step_form.object.id %>

      <!-- STEP WRAPPER -->
      <div class="formula-step-wrapper"
          data-controller="collapse"
          data-step-id="<%= step_id %>">

        <!-- HEADER -->
        <div class="formula-step-header"
            data-action="click->collapse#toggle">

          <span>
            <%= t("haircut.step") %>
            <span class="step-number"></span>
          </span>

          <svg class="chevron"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2">
            <path d="m6 9 6 6 6-6"/>
          </svg>
        </div>

        <!-- CONTENT -->
        <div class="formula-step-content"
            data-collapse-target="content">

          <!-- CARD -->
          <div class="formula-card"
              data-controller="developer"
              data-step-id="<%= step_id %>">

            <!-- IMPORTANT: SECTION -->
            <%= step_form.hidden_field :section %>

            <!-- HEADER -->
            <div class="formula-header">
              <span><%= step_form.object.section || "Step" %></span>

              <div class="step-remove">
                <%= step_form.hidden_field :_destroy, value: 0, class: "destroy-field" %>

                <button type="button"
                        data-action="click->formula#removeStep">
                  <%= image_tag "delete.png",
                      class: "clear-icon" %>
                </button>
              </div>
            </div>

            <!-- COLORS -->
            <div class="formula-block">
              <div class="block-title">
                <span><%= image_tag "paint.png",
                                class: "wiz-icon",
                                width: 24,
                                height: 24 %>COLORS</span>
                <button type="button"
                        class="add-btn-small add-color-btn"
                        data-action="click->formula#openColorModal"
                        data-step-index="<%= step_id %>">
                  <%= image_tag "plus.png", class: "add-icon" %>
                </button>
              </div>

              <div class="colors-list" data-color-target="list">
                <div data-formula-target="colorsList">

                  <%= step_form.fields_for :formula_ingredients do |ingredient_form| %>

                    <% uid = ingredient_form.object.id || SecureRandom.hex(6) %>

                    <%= render "service_notes/formula_ingredient_fields",
                          f: ingredient_form,
                          uid: uid %>
                    <div class="color-row-display"
                        data-id="<%= uid %>">

                      <div class="color-left">
                        <span class="brand"><%= ingredient_form.object.brand %></span>
                        <span class="shade"><%= ingredient_form.object.shade %></span>
                      </div>

                      <div class="color-right">
                        <span class="amount"><%= ingredient_form.object.amount %>g</span>

                        <button type="button"
                                class="remove"
                                data-action="click->formula#removeColor">
                          <%= image_tag "delete.png",
                                class: "clear-icon" %>
                        </button>
                      </div>

                    </div>

                  <% end %>

                </div>

              </div>
              <template data-formula-target="ingredientTemplate">
                <div class="ingredient-fields" data-id="NEW_ID">

                  <input type="hidden"
                    name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][shade]"
                    data-field="shade">

                  <input type="hidden"
                    name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][brand]"
                    data-field="brand">

                  <input type="hidden"
                    name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][amount]"
                    data-field="amount">

                  <input type="hidden"
                    name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][formula_product_id]"
                    data-field="formula_product_id">

                  <input type="hidden"
                    name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][price]"
                    data-field="price">

                  <input type="hidden"
                    name="service_note[formula_steps_attributes][STEP_ID][formula_ingredients_attributes][NEW_ID][_destroy]"
                    value="0"
                    data-field="destroy">
                </div>
              </template>
            </div>

            <!-- DEVELOPER -->
            <div class="formula-block">
              <div class="block-title">
                <span><%= image_tag "percent.png",
                                class: "wiz-icon",
                                width: 24,
                                height: 24 %>DEVELOPER</span>

                <button type="button"
                        class="add-btn-small add-dev-btn"
                        data-action="click->developer#openModal"
                        style="<%= 'display: none;' if (
                          step_form.object.oxidant_data&.dig("formula_product_id").present? ||
                          step_form.object.oxidant_data&.dig("service_id").present?
                        ) %>">
                   <%= image_tag "plus.png", class: "add-icon" %>
                </button>
              </div>

              <%= step_form.hidden_field :oxidant,
                    value: step_form.object.oxidant_data.to_json,
                    data: { developer_target: "input" } %>
              <div class="dev-display"
                   data-developer-target="display">

                <% if (
                    step_form.object.oxidant_data&.dig("formula_product_id").present? ||
                    step_form.object.oxidant_data&.dig("service_id").present?
                  ) %>
                  <% data = step_form.object.oxidant_data || {} %>
                  <% oxidant = current_user.formula_products.find_by(
                        id: data["formula_product_id"] || data["service_id"]
                      ) %>

                  <div class="dev-row-display">

                    <div class="dev-left">
                      <span class="dev-name">
                        <%= oxidant&.name || "Unknown" %>
                      </span>

                      <% if data["ratio"].present? %>
                        <span class="dev-separator">|</span>
                        <span class="dev-ratio"><%= data["ratio"] %></span>
                      <% end %>
                    </div>

                    <div class="dev-right">
                      <% if data["amount"].present? %>
                        <span class="dev-amount"><%= data["amount"] %>g</span>
                      <% end %>

                      <div class="dev-actions"
                          data-controller="popover">

                        <button type="button"
                                class="edit-btn"
                                data-action="click->popover#toggle">
                          <%= image_tag "pencil.png",
                                class: "wiz-icon",
                                width: 24,
                                height: 24 %>
                        </button>

                        <div class="popover-menu hidden"
                            data-popover-target="menu">

                          <button type="button"
                                  data-action="click->developer#edit">
                            Edit
                          </button>

                          <button type="button"
                                  data-action="click->developer#remove">
                            Delete
                          </button>

                        </div>
                      </div>
                    </div>

                  </div>
                <% end %>

              </div>
            </div>

            <!-- TIME -->
            <div class="formula-block">
              <div class="block-title">
                <span><%= image_tag "time.png",
                                class: "wiz-icon",
                                width: 24,
                                height: 24 %> TIME</span>
                <div class="time-input">
                  <%= step_form.text_field :time,
                      inputmode: "numeric",
                      pattern: "[0-9]*",
                      class: "input-line",
                      placeholder: "" %>
                  <span class="time-unit">min</span>
                </div>
              </div>


            </div>

            <%= render "service_notes/developer_modal" %>

          </div>
        </div>
      </div>
    <% end %>
     <!-- ADD STEP -->
    <% add_step_hidden = @service_note.new_record? && @service_note.formula_steps.empty? %>

    <div class="formula-add-step <%= 'hidden' if add_step_hidden %>"
        data-formula-target="addStep"
        data-controller="collapse">

      <!-- BUTTON -->
      <div class="add-step-btn"
          data-action="click->collapse#toggle">

        <span>+ ADD STEP</span>

        <svg class="chevron"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2">
          <path d="m6 9 6 6 6-6"/>
        </svg>
      </div>

      <!-- DROPDOWN -->
      <div class="add-step-content hidden"
          data-collapse-target="content">
          <!-- ADD SECTION -->

          <h5>Add section</h5>

        <div class="sections-grid">
          <% [:roots, :midshaft, :length, :strands, :all_over].each do |section| %>
            <button type="button"
                    class="section-btn"
                    data-action="click->formula#createStep click->collapse#close click->collapse#stop"
                    data-section="<%= section %>">
              <%= t("formula.sections.#{section}") %>
            </button>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <%= render "service_notes/empty_formula_step" if @service_note.formula_steps.empty? %>

  <!-- TEMPLATE -->
  <%= render "service_notes/formula_step_template" %>

  <%= render "service_notes/color_modal" %>
</div>
