<div data-controller="photo"
     data-photo-mode-value="inline"
     data-photo-photos-value="<%= @service_note.photos.map { |p| url_for(p) }.to_json %>"
     data-photo-index-value="0"
     class="note-viewer">

  <!-- PHOTO VIEWER -->
  <div class="note-photo-wrapper"
       data-photo-target="photoContainer"
       data-action="
          touchstart->photo#touchStart
          touchend->photo#touchEnd
          click->photo#clickNext
       ">

    <button class="photo-back-btn" onclick="history.back()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"/>
        <path d="m12 8-4 4 4 4"/>
        <path d="M16 12H8"/>
      </svg>
    </button>

    <% if @service_note.photos.attached? %>
      <%= image_tag optimized(@service_note.photos.first),
            class: "note-photo",
            data: { photo_target: "photo" } %>
    <% else %>
      <div class="note-no-photo">No Photo</div>
    <% end %>
  </div>

  <!-- DOTS -->
  <div class="note-dots">
    <% @service_note.photos.count.times do |i| %>
      <div class="dot <%= "active" if i == 0 %>" data-photo-target="dot"></div>
    <% end %>
  </div>

  <!-- TITLE + ACTIONS -->
  <div class="note-title-block">
    <div class="note-title-left">
      <div class="note-title-date"><%= l(@service_note.created_at, format: "%B %d") %></div>
      <div class="note-title-service"><%= @service_note.service_type.capitalize %></div>
    </div>

    <div class="note-title-actions">

      <%= link_to edit_client_service_note_path(@client, @service_note),
                  class: "note-title-edit" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-pencil" width="20" height="20"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 2a2.828 2.828 0 1 1 4 4L7 21l-4 1 1-4Z" />
          <path d="M16 5l3 3" />
        </svg>
      <% end %>

      <%= button_to client_service_note_path(@client, @service_note),
                    method: :delete,
                    data: { turbo_confirm: "Delete?" },
                    class: "note-title-delete" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical">
          <circle cx="12" cy="12" r="1"/>
          <circle cx="12" cy="5" r="1"/>
          <circle cx="12" cy="19" r="1"/>
        </svg>
      <% end %>

    </div>
  </div>

  <!-- DETAILS -->
  <div class="note-bottom">

    <% if @service_note.data.present? %>
      <div class="note-block">
        <h3>Formula</h3>
        <pre><%= JSON.pretty_generate(@service_note.data) %></pre>
      </div>
    <% end %>

    <% if @service_note.notes.present? %>
      <div class="note-block">
        <h3>Notes</h3>
        <p><%= @service_note.notes %></p>
      </div>
    <% end %>

    <% if @service_note.price.present? %>
      <div class="note-block">
        <h3>Price</h3>
        <p><%= @service_note.price %> ₴</p>
      </div>
    <% end %>

  </div>
</div>
