<div data-controller="photo"
     data-photo-mode-value="inline"
     data-photo-photos-value="<%= @service_note.photos.map { |p| url_for(p) }.to_json %>"
     data-photo-index-value="0"
     class="note-viewer">

  <!-- PHOTO -->
  <div class="note-photo-wrapper"
       data-photo-target="photoContainer"
       data-action="
          touchstart->photo#touchStart
          touchend->photo#touchEnd
          click->photo#clickNext
       ">

    <button class="photo-back-btn" onclick="history.back()">
       <%= image_tag "back.png",
                class: "wiz-icon-close" %>
    </button>

    <% if @service_note.photos.attached? %>
      <%= image_tag optimized(@service_note.photos.first),
            class: "note-photo",
            data: { photo_target: "photo" } %>
    <% else %>
      <div class="note-no-photo">

        <%= link_to edit_client_service_note_path(
              @client,
              @service_note,
              step: "photos"
            ),
            class: "add-photo-button" do %>

          <%= image_tag "camera.png",
                width: 28,
                height: 28 %>

          <span>ADD PHOTO</span>

        <% end %>

      </div>
    <% end %>
  </div>

  <!-- DOTS -->
  <div class="note-dots">
    <% @service_note.photos.count.times do |i| %>
      <div class="dot <%= "active" if i == 0 %>" data-photo-target="dot"></div>
    <% end %>
  </div>

  <!-- HEADER -->
  <div class="note-header-modern">
    <div>
      <div class="note-date">
        <%= l(@service_note.appointment.appointment_date, format: "%B %d") %>
      </div>

      <div class="note-client">
        <%= @client.full_name %>
      </div>
    </div>

    <div class="note-actions-modern">
      <div class="note-popover"
       data-controller="popover">

        <button type="button"
                class="edit-btn"
                data-action="click->popover#toggle">

          <%= image_tag "pencil.png",
                class: "wiz-icon",
                width: 24,
                height: 24 %>

        </button>

        <div class="popover-menu hidden"
            data-popover-target="menu">

          <%= link_to "Edit",
                edit_client_service_note_path(
                  @client,
                  @service_note
                ) %>

          <%= button_to "Delete",
                client_service_note_path(
                  @client,
                  @service_note
                ),
                method: :delete,
                form: {
                  data: {
                    turbo_confirm: "Delete?"
                  }
                } %>

        </div>
      </div>
    </div>
  </div>

  <%
    haircut_steps = @service_note.haircut_steps.reject do |step|
      step.instrument.blank? &&
      step.parting.blank? &&
      step.elevation.blank? &&
      step.cut_type.blank?
    end

    formula_steps = @service_note.formula_steps.select do |step|
      step.formula_ingredients.any? ||
      step.oxidant.present? ||
      step.time.present?
    end
  %>

  <!-- CONTENT -->
  <div class="note-content">

    <% if haircut_steps.any? %>
      <div class="note-section">

        <div class="note-section-title">
          <%= image_tag "brush.png",
                class: "wiz-icon",
                width: 34,
                height: 34 %>
          <span><%= t("haircut.title") %></span>
        </div>

        <% haircut_steps.each_with_index do |step, index| %>
          <div data-controller="collapse" class="note-step">

            <div class="note-step-pill"
                data-action="click->collapse#toggle">

              <span>
                STEP <%= index + 1 %>
              </span>

              <svg class="chevron"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2">
                <path d="m6 9 6 6 6-6"/>
              </svg>
            </div>

            <div class="note-step-content hidden"
                data-collapse-target="content">

              <%= render "service_notes/haircut_preview",
                    step: step %>

            </div>
          </div>
        <% end %>
      </div>
    <% end %>


    <% if formula_steps.any? %>
      <div class="note-section">

        <div class="note-section-title">

           <%= image_tag "formula.png",
                class: "wiz-icon",
                width: 34,
                height: 34 %>

          <span>FORMULA</span>
        </div>

        <% formula_steps.each_with_index do |step, index| %>
          <div data-controller="collapse"
              class="note-step">

            <div class="note-step-pill"
                data-action="click->collapse#toggle">

              <span>
                STEP <%= index + 1 %>
              </span>

              <svg class="chevron"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2">
                <path d="m6 9 6 6 6-6"/>
              </svg>
            </div>

            <div class="note-step-content hidden"
                data-collapse-target="content">

              <%= render "service_notes/formula_preview",
                    step: step %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @service_note.services.any? %>
      <div class="note-section">
        <div class="note-section-title">
          <%= image_tag "services.png",
              class: "wiz-icon",
              width: 34,
              height: 34 %>
          <span>SERVICES</span>
        </div>

        <% @service_note.services.each do |service| %>
          <div class="note-row">
            <%= service.name %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render(
          "service_notes/care_products_preview",
          care_products: @service_note.care_products
        ) %>


    <% if @service_note.notes.present? ||
          @service_note.final_price.to_i.positive? %>
      <div class="note-section">
        <div class="note-section-title">
          <%= image_tag "notes.png",
              class: "wiz-icon",
              width: 34,
              height: 34 %>
          <span>NOTES</span>
        </div>

        <% if @service_note.final_price.to_i.positive? %>
          <div class="note-label">
            Final price
          </div>

          <div class="note-value">
            <%= @service_note.final_price %>
          </div>
        <% end %>

        <% if @service_note.notes.present? %>
          <div class="note-label">
            Notes
          </div>

          <div class="note-value">
            <%= @service_note.notes %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
