<%= render 'shared/vertical_menu' %>

<div class="category-wrapper" data-controller="service">
  <div class="category-header">
    <div class="category-title">
      <%= link_to "â† Back", services_path, class: "back" %>
      Preparations
    </div>

    <%= render "services/menu" %>
  </div>

  <div id="service-list" class="service-list" data-service-target="list">
    <% @preparations.each do |preparation| %>
      <%= render "services/service_item", service: preparation %>
    <% end %>
  </div>

  <div class="create-button">
    <%= link_to "+ New Preparation", new_service_path(service_type: "preparation"), class: "button primary full" %>
  </div>
</div>
