<div class="screen">
  <div class="screen__content">
    <%= render 'shared/vertical_menu' %>
    <div class="screen__header">
      <%= link_to "", main_services_path, class: "back-button" %>
      <h2><%= t("services.categories.#{@category.downcase}") %></h2>
    </div>
    <div class="category-wrapper" data-controller="service">
      <%= render "services/menu" %>

      <div id="service-list" class="service-list" data-service-target="list">
        <% @services.each do |service| %>
          <%= render "services/service_item", service: service %>
        <% end %>
      </div>

      <div class="create-button">
        <%= link_to t("services.pages.new_item",
                  item: t("services.categories.#{@category.downcase}").singularize),
                new_service_path(service_type: "service", category: @category),
                class: "primary-button" %>
      </div>
    </div>
  </div>
</div>
