<div class="notes-block" data-controller="service-note">

  <div class="notes-date">
    <%= l(@appointment.appointment_date, format: :long) %>
  </div>

  <!-- SERVICES  -->
  <div class="notes-label">Services</div>

  <div class="notes-services">
    <div data-service-note-target="servicesList"></div>
  </div>

  <!-- PRICE -->
  <div class="price-wrapper">

    <div class="price-display">
      <span class="price-label">Service price:</span>
      <span class="price-value" data-service-note-target="priceValue">
        <%= @service_note.price || 0 %>
      </span>
    </div>

    <%= f.hidden_field :price, data: { service_note_target: "priceInput" } %>

  </div>

    <!-- DEVELOPER -->
  <div class="notes-label">Developer</div>
  <div class="notes-dev">
    <div data-service-note-target="developerList"></div>

    <div class="notes-dev-total">
      <span data-service-note-target="developerAmount">
        <%= @service_note.developer_total_amount %>g
      </span>

      <span data-service-note-target="developerPrice">
        <%= @service_note.developer_total_price %> ₴
      </span>
    </div>
  </div>

  <!-- CARE PRODUCTS -->
  <div class="notes-label">Care products</div>

  <div class="notes-care-products">
    <div data-service-note-target="careProductsList"></div>
  </div>

  <!-- FINAL PRICE -->
  <div class="price-final">
    Total:
    <span data-service-note-target="finalPrice">
      <%= @service_note.final_price %>
    </span> ₴
  </div>

  <!-- NOTES -->
  <div class="notes-wrapper">
    <div class="notes-label">Notes</div>
    <%= f.text_area :notes,
      value: @service_note.notes.presence || @appointment&.notes,
      class: "notes-textarea" %>
  </div>

</div>
