<div class="service-form-wrapper">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="login__field">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "login__input", autofocus: true, autocomplete: "name" %>
    </div>

    <div class="login__field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "login__input", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="login__field">
      <%= f.label :phone %><br />
      <%= f.telephone_field :phone, class: "login__input", autofocus: true, autocomplete: "phone", data: { controller: "phone-mask" } %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="login__field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, class: "login__input", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="login__field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "login__input", autocomplete: "new-password" %>
    </div>

    <div class="login__field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, class: "login__input", autocomplete: "current-password" %>
    </div>

    <div class="form-actions-row">
      <%= f.submit "Update", class: "form-button primary", style: "flex: 1;" %>
      <%= link_to "Cancel", settings_path, class: "form-button cancel", data: { turbo: false } %>
    </div>
  <% end %>
</div>
