<h1><%= t("analytics.balance.title") %></h1>

<%= render 'shared/period_filter', show_category: false %>

<% if params[:from].present? || params[:to].present? %>
  <ul class="balance-summary wide">
    <li>
      <strong><%= t("analytics.balance.income") %>:</strong>
      <span class="green"><%= @total_income %> ₴</span>
    </li>
    <li>
      <strong><%= t("analytics.balance.expenses") %>:</strong>
      <span class="red"><%= @total_expenses %> ₴</span>
    </li>
    <li>
      <strong><%= t("analytics.balance.total") %>:</strong>
      <span class="<%= @balance > 0 ? 'green' : 'red' %>">
        <%= @balance.zero? ? "0" : (@balance > 0 ? @balance : "-#{@balance.abs}") %> ₴
      </span>
    </li>
  </ul>
<% end %>
