<h1><%= t("analytics.title") %></h1>

<div class="admin-dashboard">
  <%= link_to expenses_analytics_path, class: "admin-card expenses" do %>
    <%= image_tag "accounting.png",
            class: "wiz-icon",
            width: 34,
            height: 34 %>
    <%= t("analytics.menu.expenses") %>
  <% end %>

  <%= link_to income_analytics_path, class: "admin-card income" do %>
    <%= image_tag "income.png",
            class: "wiz-icon",
            width: 34,
            height: 34 %>
    <%= t("analytics.menu.income") %>
  <% end %>

  <%= link_to balance_analytics_path, class: "admin-card balance" do %>
    <%= image_tag "balance.png",
            class: "wiz-icon",
            width: 34,
            height: 34 %>
    <%= t("analytics.menu.balance") %>
  <% end %>
</div>
