<div class="admin-dashboard">
  <h1><%= t("admin.title") %></h1>

  <%= link_to services_path, class: "admin-card" do %>
     <%= image_tag "services.png",
          class: "wiz-icon",
          width: 34,
          height: 34 %>
    <%= t("admin.cards.services") %>
  <% end %>

  <%= link_to slot_rules_path, class: "admin-card" do %>
     <%= image_tag "schedule.png",
          class: "wiz-icon",
          width: 34,
          height: 34 %>
    <%= t("admin.cards.schedule") %>
  <% end %>

  <%= link_to expenses_analytics_path, class: "admin-card expenses" do %>
    <%= image_tag "accounting.png",
          class: "wiz-icon",
          width: 34,
          height: 34 %>
    <%= t("admin.cards.expenses") %>
  <% end %>

  <%= link_to analytics_path, class: "admin-card balance" do %>
     <%= image_tag "analytics.png",
          class: "wiz-icon",
          width: 34,
          height: 34 %>
    <%= t("admin.cards.analytics") %>
  <% end %>

  <%= link_to settings_path, class: "admin-card" do %>
     <%= image_tag "settings.png",
          class: "wiz-icon",
          width: 34,
          height: 34 %>
    <%= t("admin.cards.settings") %>
  <% end %>
</div>
