<div class="container">
  <div class="screen">
    <div class="screen__content">

      <h2><%= t("auth.reset_password_title") %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "login" }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <div class="login__field">
          <%= f.label :password do %>
            <%= t("auth.new_password") %>
            <span class="required-asterisk">*</span>
          <% end %>

          <% if @minimum_password_length %>
            <em><%= t("auth.min_length", count: @minimum_password_length) %></em>
          <% end %>

          <%= f.password_field :password, class: "login__input", autofocus: true, autocomplete: "new-password" %>

          <% resource.errors.full_messages_for(:password).each do |message| %>
            <div class="inline-error">
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class="login__field">
          <%= f.label :password_confirmation do %>
            <%= t("auth.password_confirmation") %>
            <span class="required-asterisk">*</span>
          <% end %>

          <%= f.password_field :password_confirmation, class: "login__input", autocomplete: "new-password" %>

          <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
            <div class="inline-error">
              <%= message %>
            </div>
          <% end %>
        </div>

        <div class="actions">
          <%= f.submit t("auth.change_password"), class: "button reset__submit" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
