<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="screen__header">
        <%= link_to "", "/", class: "back-button" %>
        <h2 class="screen__title"><%= t("auth.forgot_password_title") %></h2>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form__field">
         <%= f.label :email, t("auth.email") %>
         <%= f.email_field :email %>
        </div>
        <div class="actions">
          <%= f.submit t("auth.send_reset_link") %>
        </div>
        <div class="home-page__logo">
        <%= image_tag("logo_full_transpr.png", alt: "Colorist.Space", class: "logo-img") %>
      </div>
      <% end %>   
    </div>
  </div>
</div>