<nav class="bottom-nav">
  <%= link_to calendar_appointments_path, class: "nav-item #{current_page?(calendar_appointments_path) ? 'active' : ''}" do %>
    <span class="icon">
       <%= image_tag "calendar.png" %>
    </span>
    <span class="label"><%= t("navigation.calendar") %></span>
  <% end %>

  <%= link_to clients_path, class: "nav-item #{current_page?(clients_path) ? 'active' : ''}" do %>
    <span class="icon">
      <%= image_tag "clients.png" %>
    </span>
    <span class="label"><%= t("navigation.clients") %></span>
  <% end %>

  <%= link_to admin_path, class: "nav-item #{current_page?(admin_path) ? 'active' : ''}" do %>
    <span class="icon">
     <%= image_tag "admin.png" %>
    </span>
    <span class="label"><%= t("navigation.admin") %></span>
  <% end %>
</nav>
