<%= form_with model: @client, local: true, html: { multipart: true } do |f| %>
  <div class="wizard-top">

    <%= link_to(@client.new_record? ? clients_path : client_path(@client)) do %>
      <%= image_tag "back.png",
            width: 24,
            height: 24,
            class: "wiz-icon" %>
    <% end %>

    <h2>
      <%= @client.new_record? ?
          t("clients.new") :
          t("clients.edit") %>
    </h2>

    <%= f.submit t("common.save").upcase %>

  </div>

  <div class="login__field">
    <%= f.label :first_name do %>
      <%= t("clients.form.first_name") %>
      <span class="required-asterisk">*</span>
    <% end %>

    <%= f.text_field :first_name, class: "login__input" %>

    <% @client.errors.full_messages_for(:first_name).each do |message| %>
      <div class="inline-error">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="login__field">
    <%= f.label :last_name, t("clients.form.last_name") %>
    <%= f.text_field :last_name, class: "login__input" %>
  </div>

  <div class="login__field">
    <%= f.label :phone do %>
      <%= t("clients.form.phone") %>
      <span class="required-asterisk">*</span>
    <% end %>

    <%= f.telephone_field :phone, class: "login__input", data: { controller: "phone-mask" } %>

    <% @client.errors.full_messages_for(:phone).each do |message| %>
      <div class="inline-error">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="login__field" data-controller="phones">
    <div data-phones-target="container">
      <%= f.fields_for :client_phones do |phone_form| %>
        <div class="phone-row">
          <%= phone_form.telephone_field :phone, class: "login__input", data: { controller: "phone-mask" } %>
          <%= phone_form.hidden_field :_destroy %>
          <button type="button"
                  class="remove-btn"
                  data-action="phones#remove">
            <%= image_tag "close.png", class: "clear-icon" %>
          </button>
        </div>
      <% end %>
    </div>

    <!-- TEMPLATE -->
    <template data-phones-target="template">
      <div class="phone-row">
        <input type="tel"
              data-controller="phone-mask"
              name="client[client_phones_attributes][NEW_RECORD][phone]"
              class="login__input" />
        <input type="hidden"
              name="client[client_phones_attributes][NEW_RECORD][_destroy]"
              value="false" />

        <button type="button"
                class="remove-btn"
                data-action="phones#remove">
          <%= image_tag "close.png", class: "clear-icon" %>
        </button>
      </div>
    </template>

    <button type="button"
        class="add-phone-text"
        data-action="phones#add">
      + Add phone
    </button>
  </div>

  <div class="login__field"
     data-controller="birthday-picker">

    <%= f.label :birthday, t("clients.form.birthday") %>

    <input type="text"
          readonly
          class="login__input"
          placeholder="<%= t("clients.form.select_birthday") %>"
          data-action="click->birthday-picker#open"
          data-birthday-picker-target="display">

    <%= f.hidden_field :birthday, data: { birthday_picker_target: "hidden" } %>

    <% @client.errors.full_messages_for(:birthday).each do |message| %>
      <div class="inline-error">
        <%= message %>
      </div>
    <% end %>

    <!-- Modal -->
    <div class="care-products-modal hidden"
        data-birthday-picker-target="modal"
        data-action="click->birthday-picker#close">

      <div class="care-products-modal-content"
          data-action="click->birthday-picker#stop">

        <div class="wizard-top birthday-picker-top">
          <button type="button"
                  data-action="click->birthday-picker#close">
            <%= image_tag "close.png",
                  class: "wiz-icon-close" %>
          </button>

          <button type="button"
                  data-action="click->birthday-picker#save">
            <%= t("common.save").upcase %>
          </button>
        </div>

        <div class="birthday-picker">
          <!-- DAYS -->
          <div class="birthday-wheel"
              data-birthday-picker-target="days"
              data-action="scroll->birthday-picker#scrollDay">

            <div class="birthday-wheel-spacer"></div>

            <% (1..31).each do |day| %>
              <div class="birthday-wheel-item"
                  data-day="<%= "%02d" % day %>">
                <%= "%02d" % day %>
              </div>
            <% end %>

            <div class="birthday-wheel-spacer"></div>
          </div>

          <!-- MONTHS -->
          <div class="birthday-wheel"
              data-birthday-picker-target="months"
              data-action="scroll->birthday-picker#scrollMonth">

            <div class="birthday-wheel-spacer"></div>

            <% I18n.t("date.month_names").drop(1).each_with_index do |month, index| %>
              <div class="birthday-wheel-item"
                  data-month="<%= "%02d" % (index + 1) %>">
                <%= month %>
              </div>
            <% end %>

            <div class="birthday-wheel-spacer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "hair_info_form", f: f, expanded: false %>

  <%= render "notes_form", f: f, expanded: false %>
<% end %>
