<div class="clients-header">
  <h1 class="clients-title"><%= t("clients.title") %></h1>

  <div class="clients-actions">
    <%= link_to t("clients.add_new"), new_client_path, class: "button small" %>
    <%= render 'shared/vertical_menu' %>
  </div>
</div>

<div data-controller="client-search">
  <input type="text"
         data-client-search-target="input"
         placeholder="<%= t("clients.search_placeholder") %>"
         class="search-input compact">

  <div class="client-list indexed">
    <% if @clients.any? %>
      <% @clients.group_by { |c| c.first_name[0].upcase }.sort.each do |letter, list| %>
        <div class="client-group" data-client-search-target="group">
          <div class="letter-index"><%= letter %></div>

          <div class="letter-names">
            <% list.each do |client| %>
              <div class="client-item" data-client-search-target="item">
                <%= link_to "#{client.first_name} #{client.last_name}", client_path(client), class: "client-link" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p><%= t("clients.none_found") %></p>
    <% end %>
  </div>
</div>

<div class="actions">
  <%= link_to t("clients.back"), root_path, class: "button secondary full-width" %>
</div>
