<div class="clients-page">
  <div data-controller="client-search" class="clients-container">

    <input type="text"
           data-client-search-target="input"
           placeholder="<%= t("clients.search_placeholder") %>"
           class="search-input compact">

    <div class="client-list indexed">
      <% if @clients.any? %>
        <% @clients.group_by { |c| c.first_name[0].upcase }.sort.each do |letter, list| %>
          <div class="client-group" data-client-search-target="group">
            <div class="letter-index"><%= letter %></div>

            <div class="letter-names">
              <% list.each do |client| %>
                <div class="client-item" data-client-search-target="item">
                  <%= link_to "#{client.first_name} #{client.last_name}", client_path(client), class: "client-link" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p><%= t("clients.none_found") %></p>
      <% end %>
    </div>

    <%= link_to new_client_path, class: "floating-add-button" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
        <path d="M5 12h14"/><path d="M12 5v14"/></svg>
    <% end %>

  </div>
</div>
