<h1>New Client</h1>

<div class="import-button-wrapper">
  <button id="import-contacts" class="button"> Import </button>
</div>

<%= form_with model: @client, local: true do |f| %>
  <%= render 'shared/error_messages', resource: @client %>

  <div class="login__field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, class: "login__input" %>
  </div>

  <div class="login__field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: "login__input" %>
  </div>

  <div class="login__field">
    <%= f.label :phone, "Phone Number" %>
    <%= f.telephone_field :phone, class: "login__input" %>
  </div>

  <div class="login__field">
    <%= f.label :birthdate, "Date of Birth" %>
    <%= f.date_field :birthdate, class: "login__input" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Client", class: "button" %>
  </div>
<% end %>
