<div data-controller="client-profile photo"
     data-client-profile-id-value="<%= @client.id %>"
     class="client-profile-container">

  <!-- Header -->
  <div class="client-header">

    <div class="client-header-left">
      <h1><%= @client.full_name %></h1>
      <p class="client-phone"><%= @client.phone %></p>
    </div>

    <div class="client-header-right">
      <%= link_to calendar_appointments_path(client_id: @client.id),
                  class: "button small new-appointment-button",
                  data: { turbo: false } do %>
        <%= t("clients.show.new_appointment") %>
      <% end %>
    </div>
  </div>

  <!-- Tabs -->
  <div class="tabs">
    <button class="tab-button active"
            data-client-profile-target="tab"
            data-tab-name="styles"
            data-action="click->client-profile#showTab">
      <%= t("clients.show.styles_tab") %>
    </button>

    <button class="tab-button"
            data-client-profile-target="tab"
            data-tab-name="info"
            data-action="click->client-profile#showTab">
      <%= t("clients.show.info_tab") %>
    </button>
  </div>

  <!-- STYLES TAB  -->
  <div id="styles-tab"
     data-client-profile-target="tabContent"
     class="tab-content active">

    <% @client.style_appointments.each do |appointment| %>

      <% service_note = appointment.service_note %>

      <% target_path =
        if service_note.present?
          client_service_note_path(@client, service_note)
        else
          new_client_service_note_path(
            @client,
            appointment_id: appointment.id
          )
        end
      %>

      <div class="style-card">

        <%= link_to target_path, class: "style-photo-wrapper-link" do %>

          <div class="style-photo-wrapper">

            <% if service_note&.photos&.attached? %>
              <%= image_tag thumb(service_note.photos.first), class: "style-photo" %>
              <% if service_note.photos.count > 1 %>
                <div class="style-photo-count">
                  +<%= service_note.photos.count - 1 %>
                </div>
              <% end %>
            <% else %>
              <div class="style-no-photo">
                No photo
              </div>
            <% end %>

            <div class="style-info-overlay">
              <div class="style-date">
                <%= l(appointment.appointment_date, format: "%B %d") %>

                <% if appointment.appointment_date > Date.current %>
                  <span class="future-badge">
                    FUTURE
                  </span>
                <% end %>

              </div>

              <% if service_note.present? %>
                <div class="style-service">
                  <%= service_note.service_type&.capitalize %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- INFO TAB  -->
  <div id="info-tab"
       data-client-profile-target="tabContent"
       class="tab-content">

    <div class="client-info">

      <p><strong><%= t("clients.show.details.phone") %>:</strong></p>
        <% main_phone = @client.phone %>
        <ul class="phones-list">

          <!-- MAIN PHONE -->
          <li class="phone-item">

            <a href="tel:<%= main_phone %>" class="phone-link full">

              <!-- ICON -->
              <svg xmlns="http://www.w3.org/2000/svg"
                  width="18" height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-phone phone-icon">
                <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
              </svg>

              <%= main_phone %>
            </a>

            <!-- COPY -->
            <button type="button"
                    class="copy-btn"
                    data-action="click->client-profile#copyPhone"
                    data-phone="<%= @client.phone %>">

              <svg xmlns="http://www.w3.org/2000/svg"
                  width="18" height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-copy">
                <rect width="14" height="14" x="8" y="8" rx="2" ry="2"/>
                <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/>
              </svg>

            </button>
          </li>

          <!-- ADDITIONAL PHONES -->
          <% @client.client_phones.each do |phone| %>
            <% next if phone.phone == main_phone %>
            <li class="phone-item">

              <a href="tel:<%= phone.phone %>" class="phone-link full">

                <!-- ICON -->
                <svg xmlns="http://www.w3.org/2000/svg"
                    width="18" height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-phone phone-icon">
                  <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
                </svg>

                <%= phone.phone %>
              </a>

              <!-- COPY -->
              <button type="button"
                      class="copy-btn"
                      data-action="click->client-profile#copyPhone"
                      data-phone="<%= phone.phone %>">

                <svg xmlns="http://www.w3.org/2000/svg"
                    width="18" height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-copy">
                  <rect width="14" height="14" x="8" y="8" rx="2" ry="2"/>
                  <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/>
                </svg>

              </button>

              <!-- ⭐ MAKE PRIMARY -->
              <button
                type="button"
                class="make-primary-btn"
                data-action="click->client-profile#makePrimary"
                data-phone="<%= phone.phone %>">
                ⭐
              </button>

            </li>
          <% end %>

        </ul>

      <p><strong><%= t("clients.show.details.hair_type") %>:</strong>
        <%= t("clients.hair.types.#{@client.hair_type.downcase}") if @client.hair_type %></p>

      <p><strong><%= t("clients.show.details.hair_length") %>:</strong>
        <%= t("clients.hair.lengths.#{@client.hair_length.downcase}") if @client.hair_length %></p>

      <p><strong><%= t("clients.show.details.hair_structure") %>:</strong>
        <%= t("clients.hair.structures.#{@client.hair_structure.downcase}") if @client.hair_structure %></p>

      <p><strong><%= t("clients.show.details.hair_density") %>:</strong>
        <%= t("clients.hair.density.#{@client.hair_density.downcase}") if @client.hair_density %></p>

      <p><strong><%= t("clients.show.details.scalp_condition") %>:</strong>
        <%= t("clients.hair.scalp.#{@client.scalp_condition.downcase}") if @client.scalp_condition %></p>

      <p><strong><%= t("clients.show.details.note") %>:</strong>
        <%= @client.note %></p>

      <div class="actions">
        <%= link_to t("clients.show.edit_client"),
                    edit_client_path(@client),
                    class: "button secondary" %>

        <%= button_to t("clients.show.delete_client"),
                      client_path(@client),
                      method: :delete,
                      data: { turbo_confirm: t("clients.show.delete_client_confirm") },
                      class: "button delete" %>
      </div>

    </div>
  </div>

  <!-- FULLSCREEN -->
  <div data-photo-target="modal" class="fullscreen hidden">
    <div class="fullscreen-backdrop" data-action="click->photo#close"></div>
    <button class="fullscreen-close" data-action="click->photo#close">×</button>
    <img data-photo-target="modalImage" class="fullscreen-image">
  </div>

</div>
