<div class="appointment-container">
  <div class="appointment-header">
    <%= link_to "←", appointments_path, class: "back-link inline" %>
    <h2>New Appointment</h2>
  </div>

  <%= form_with model: @appointment, local: true, data: { controller: "calendar appointment" } do |f| %>
    <% if @appointment.errors.any? %>
      <div class="error-messages">
        <h4><%= pluralize(@appointment.errors.count, "error") %> prevented the appointment from being saved:</h4>
        <ul>
          <% @appointment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Required fields -->
    <div class="form-section">
      <label>Client Name <span class="required-asterisk">*</span></label>
      <%= text_field_tag "appointment[client_name]", @appointment.client&.full_name || "",
          class: "form-input",
          data: {
            "calendar-target": "clientName",
            action: "input->calendar#updateClientInfo"
          },
          placeholder: "Enter or select client name",
          list: "client-list",
          autocomplete: "off" %>
      <datalist id="client-list" data-calendar-target="clientList">
        <% current_user.clients.each do |client| %>
          <option value="<%= client.full_name %>" data-phone="<%= client.phone %>">
        <% end %>
      </datalist>
    </div>

    <div class="form-section">
      <label>Phone <span class="required-asterisk">*</span></label>
      <%= telephone_field_tag "appointment[phone]", @appointment.client&.phone || "",
          class: "form-input",
          data: { "calendar-target": "clientPhone" } %>
    </div>

    <div class="form-section">
      <label>Date <span class="required-asterisk">*</span></label>
      <%= text_field_tag "appointment[appointment_date]",
        (@appointment.appointment_date || Date.today).strftime("%d.%m.%Y"),
        class: "form-input",
        data: {
           controller: "datepicker",
            datepicker_target: "input",
            min: Date.today.strftime("%Y-%m-%d")
           },
        readonly: true,
        id: "appointment_date" %>
    </div>

    <div class="form-section double">
      <div>
        <%= f.label :appointment_time, "Start Time" %><span class="required-asterisk">*</span>
        <%= f.time_field :appointment_time,
          step: 300,
          class: "form-input",
          data: {
            controller: "appointment",
            action: "blur->appointment#roundToNearestFive"
          } %>
      </div>
      <div>
        <%= f.label :end_time, "End Time" %><span class="required-asterisk">*</span>
        <%= f.time_field :end_time,
          step: 300,
          class: "form-input",
          data: {
            controller: "appointment",
            action: "blur->appointment#roundToNearestFive"
          } %>
      </div>
    </div>

    <div class="form-section">
      <label>Основні послуги <span class="required-asterisk">*</span></label>
      <div class="fake-input" data-action="click->appointment#open" data-type="service">
        <span data-appointment-target="serviceSelected" class="placeholder">Оберіть послуги</span>
      </div>
    </div>

    <!-- Optional fields-->
    <div class="form-section">
      <label>Препарати</label>
      <div class="fake-input" data-action="click->appointment#open" data-type="preparation">
        <span data-appointment-target="preparationSelected" class="placeholder">Оберіть препарати</span>
      </div>
    </div>

    <div class="form-section">
      <label>Засоби догляду</label>
      <div class="fake-input" data-action="click->appointment#open" data-type="care_product">
        <span data-appointment-target="careProductSelected" class="placeholder">Оберіть засоби</span>
      </div>
    </div>

    <!-- <input type="hidden" name="appointment[service_ids]" value="<%= @appointment.service_ids.join(',') %>" data-appointment-target="hiddenInput"> -->
    <input type="hidden" data-appointment-target="hiddenInput" value="<%= @appointment.service_ids.join(',') %>">


    <div class="form-section">
      <%= f.label :notes, "Notes" %>
      <%= f.text_area :notes,
        class: "form-input textarea-auto",
        maxlength: 256,
        rows: 2,
        placeholder: "До 256 символів..." %>
    </div>

    <div class="total-price">
      <strong>Total:</strong> <span data-appointment-target="total">0</span> ₴
    </div>

    <div class="form-actions" style="height: 80px;"></div>
    <%= f.submit "Save", class: "floating-save-button" %>

    <!-- Модалки -->
    <%= render "appointments/modals/service_modal" %>
    <%= render "appointments/modals/preparation_modal" %>
    <%= render "appointments/modals/care_product_modal" %>
  <% end %>
</div>
