<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Colorist Space" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= favicon_link_tag 'favicon.png' %>  

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- PWA -->
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <% unless Rails.env.test? %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>
 
  <body>

    <main>
      <% flash.each do |type, message| %>
        <div class="flash <%= type %>"><%= message.html_safe %></div>
      <% end %>

      <%= yield %>
    </main>

    <%= render 'shared/navigation' if user_signed_in? %>

    <div data-controller="photo"
         class="fullscreen hidden"
         data-photo-target="modal">

      <div class="fullscreen-backdrop"
           data-action="click->photo#close"></div>

      <img data-photo-target="modalImage"
           class="fullscreen-image"
           alt="">

      <button class="fullscreen-close"
              data-action="click->photo#close">✕</button>
    </div>

  </body>
</html>
